/*

#feild ,#feild2{
    width: 500px;
    height: 300px;
    border-radius: 50px;
    
}
*/
   .c{
    background-image:url(../img/index2.jpeg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top,center;
    background-size: contain;
       
       height: 500px
    
    }
#center{
/*   text-align: center;*/ 
    color: darkgoldenrod;
    letter-spacing: 10px;
    line-height: 60px;
    direction: rtl;
    
}
.body_{
  background-image:url(../img/image2.jpeg);
  background-attachment: fixed;
    width: 1113 px;
}
.butt{
    background-color:  rgba(178, 102, 21, 0.4);
    color: black;
    width: 100px;
    height: 30px;
   /* float: right;*/
}
#feild1{
    background-color: rgba(250,180,50,.4);
    width: 500px;
    height: 300px;
    border-radius: 10px;
    
 /*   text-align: right;*/
    
}
.login{
    color: aliceblue;
    font-size: 32px;
    padding-left: -10px;
   /* text-align: right;*/
}
.ch{
    color: aliceblue;
    font-size: 22px;
   /* text-align: right;*/
}
.box{
    width: 200px;
    height: 20px;
    font-size: 20px;
    padding: 10px;  
    /*text-align: right;*/
}

#feild2{
    background-color: rgba(250,180,50,.4);
    width: 500px;
    height: 300px;
    border-radius: 50px;
    
 /*   text-align: right;*/}
